.timer {
    float: right;
}
* {
    box-sizing: border-box;
    background-color: skyblue;
    overflow: hidden;
    text-align: center;
}
h1 {
    font-family: 
    text-align: center;
}
#main {
    border: 1px solid black;
    border-radius: 6px;
}

button {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  display: inline-block;
  border-radius: 5px;


}
button:hover {
    background-color: yellow;
}
footer {
    display: none;
}
