.timer {
    float: right;
}
* {
    text-align: center;
    background-color: skyblue;
    
}
#main {
    padding: 20px;
    border: solid 2px black;
    border-radius: 20px;
    
}
button {
    margin: 7px 0;
    width: 100%;
    text-align: left;
    position: relative;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    font-size: 17px;
    padding: 6px 16px;
    background-color: white;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-weight: 500;
    line-height: 20px;
    outline: none;
}

button:hover:not([disable]) {
  background-color: yellow;
  color: 
  
}
#next-button {
    background: purple;
    color: white;
    width: 150px;
    font-weight: 500;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    display: none;
}
.correct{
    background: lightgreen;
}
.incorrect {
    background: lightcoral;
}




